body {
    margin: 0;
    padding-bottom: 70px; /* footer üçün yer */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:  bisque;
    color: #fff;
    text-align: center;
}


/* Navigation bar */
nav {
  background: rgba(0, 0, 0, 0.6);
  padding: 15px;
  position: sticky;
  top: 0;
}
nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
nav a:hover {
  text-decoration: underline;
}

/* Profil şəkil */
.profile-pic {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  border: 5px solid #fff;
  margin: auto;
  margin-top: 90px;
}
.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* Ad və qısa təqdimat */
h1 {
  font-size: 50px;
  margin: 20px 0 10px;
}
p {
  font-size: 22px;
  margin: 0 20px 40px;
}

/* Footer */
footer {
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer-left {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.footer-icon {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.footer-icon:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

.about{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  margin-top: 90px;
  padding-left: 80px;
  padding-right: 80px;
}
.about-right{
  text-align: start;
}
.project-title{
  margin-top: 120px;
}
.projects{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 90px;
}
.project-item img{
  height: 120px;
}
/* Responsive */
@media (max-width: 600px) {
  .profile-pic {
    width: 120px;
    height: 120px;
  }
  h1 {
    font-size: 32px;
  }
  p {
    font-size: 18px;
  }
  nav a {
    font-size: 16px;
    margin: 0 8px;
  }
}
